@model TSRD.Models.WorkForm

@{
    ViewBag.Title = "Delete";
}

<h2>@ViewBag.Title</h2>

<h3>刪除後即不可回復，是否確認刪除?</h3>
<div>
    <h4 style="display:none">WorkForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Unit.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcceptedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Closed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Closed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkFormType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkFormType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
