@model IEnumerable<TSRD.Models.ConsumableForm>

@{
	ViewBag.TableDisplayName = "Table";
	ViewBag.Title = "入庫/報廢清單";
}

<h2>@ViewData["ConsumableName"].ToString() @ViewBag.Title </h2>


<div class="row">
    <div class="col-md-4">
	@*<p>
		@Html.ActionLink("新增", "List")
	</p>*@
	</div>
	 @*@using (Html.BeginForm())
    {
		<div class="col-md-4">
        @Html.AntiForgeryToken()

					</div>	 
	    <div class="col-md-4">
            @Html.TextBox("SearchString",null, new { type = "search", placeholder = "請輸入文字...", style = "display:inline" ,@class="form-control  text-box"})
            <input type="submit" class="btn btn-info" value="搜尋" />                        
        </div>
    }*@

</div>
<div class="row">
    <div class="col-md-12">


<table class="table  table-hover table-striped">
    <tr>
        <th>
            類別
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.Amount>0)
            {
                @Html.Raw("入庫")
            }
            else
            { 
                @Html.Raw("報廢")
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedTime)
        </td>
    </tr>
}

</table>
    </div>
    @Html.ActionLink("回到耗材清單", "Index")
</div>

<div class="row">
    @using (Html.BeginForm(@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString(), @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { @class = "paging-form" }))
    {
        int CurrentPage = Convert.ToInt32(ViewData["CurrentPage"]);
        int PageCount = Convert.ToInt32(ViewData["PageCount"]);

        @Html.Hidden("SearchString");
        @Html.Hidden("Page", null, new { @id = "hiddenPage" })
        <div style="text-align:center;">
            @if (CurrentPage == 1)
            {
                <input type="submit" value="&lt;&lt;" class="btn paging-dbtn" style="cursor:text;" onclick="return false;" />
                <input type="submit" value="&lt;" class="btn paging-dbtn" style="cursor:text;" onclick="return false;" />
            }
            else
            {
                <input type="submit" value="&lt;&lt;" class="btn btn-default paging-btn" onclick="$('#hiddenPage').val(@(CurrentPage-10))" />
                <input type="submit" value="&lt;" class="btn btn-default paging-btn" onclick="$('#hiddenPage').val(@CurrentPage-1)" />
            }
            @if (CurrentPage == PageCount)
            {
                <input type="submit" value="&gt;" class="btn paging-dbtn" style="cursor:text;" onclick="return false;" />
                <input type="submit" value="&gt;&gt;" class="btn paging-dbtn" style="cursor:text;" onclick="return false;" />
            }
            else
            {
                <input type="submit" value="&gt;" class="btn btn-default paging-btn" onclick="$('#hiddenPage').val(@(CurrentPage+1))" />
                <input type="submit" value="&gt;&gt;" class="btn btn-default paging-btn" onclick="$('#hiddenPage').val(@(CurrentPage+10))" />
            }
        </div>
        <div style="text-align:center;">
            @for (int i = 1; i <= Convert.ToInt32(ViewData["PageCount"]); i++)
            {
                if (Convert.ToInt32(ViewData["CurrentPage"]) == i)
                {
                    <input type="submit" value="@i.ToString()" class="btn paging-dbtn" style="cursor:text" />

                }
                else
                {
                    <input type="submit" value="@i.ToString()" class="paging-btn btn btn-default" onclick="$('#hiddenPage').val($(this).val())" />
                }
            }
        </div>

    }
</div>

